#student .do-btn, #lecturer .do-btn{
    margin-top:70px;
}
#student .field, #lecturer  .field{
    margin:5px 0;
}
#sudent .field-alone, #lecturer  .field-alone{
    margin-top: 100px; 
}
#student select, #lecturer  select{
    margin:10px 0;
}