{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Войти{% endblock %}
{% block content %}
    <div class="container">
        <div class="block" style="margin:0 auto">
            {% with messages = get_flashed_messages() %} 
            {% if messages %} 
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %} 
            {% endif %} 
            {% endwith %}
            <h1>Войти</h1>
            <div class="row">
                <div class="col-md-4">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    
</body>
</html>
