{% extends 'base.html' %}
{% block content %}
<div id="student">
    <div class="container">
        <div class="add-block">
            <div class="jumbotron">
                <h4>Добавление</h4>
                <div class="row">
                    <div class="col-md-3 field">
                        <input type="text" class="form-control" placeholder="Факультет">
                    </div>
                    <div class="col-md-3 field">
                        <input type="text" class="form-control" placeholder="Специальность">
                    </div>
                    <div class="col-md-3 field">
                        <input type="text" class="form-control" placeholder="Курс">
                    </div>
                    <div class="col-md-3 field">
                        <input type="text" class="form-control" placeholder="Группа">
                    </div>
                    <div class="row field-alone">
                        <div class="col-md-2 col-md-offset-5">
                            <input type="text" class="form-control" placeholder="group параметер">
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-11">
                    <button type="button" class="do-btn btn btn-success">добавить</button>
                </div>
            </div>
        </div>
        <div class="delete-block">
            <div class="jumbotron">
                <h4>Удаление</h4>
                <div class="row">
                    <div class="col-md-3">
                        <p>Факультет</p>
                    </div>
                    <div class="col-md-3">
                        <p>Специальность</p>
                    </div>
                    <div class="col-md-3">
                        <p>Курс</p>
                    </div>
                    <div class="col-md-3">
                        <p>Группа</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <select class="form-control col-md-6">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control ">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control col-md-6">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control ">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-offset-11">
                    <button type="button" class="do-btn btn btn-danger">удалить</button>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endblock %} 